.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.text{
  text-align: center !important;
}
.header.text .logoMain{
  float: none !important;
}
.header{
  background-image: url(../../../assets/main-header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  width: auto !important;
  display: block !important;
  text-align: center !important;
  margin: 0px !important;
  overflow: hidden;
}