.pageSize {
  margin: 0 15px;
  padding: 4% 0;
  overflow: hidden;
}
.mainPadding {
  padding: 4% 0;
  overflow: hidden;
}
/*------Inner-Content-Start--------*/
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.topBtns {
  float: right;
  margin-bottom: 1%;
}
.topBtns button {
  background-color: #e3e3e3;
  padding: 11px 9px;
  vertical-align: middle;
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}
.topBtns button,
.topBtns button img {
  vertical-align: middle;
}
.topBtns button img {
  padding-right: 5px;
}
.formTable {
  float: left;
  width: 70%;
  margin-right: 1%;
}
.messageForm {
  float: right;
  width: 27%;
  background-color: #e6e6e6;
  padding: 10px 5px 10px 5px;
  border: 1px solid #bbbbbb;
}
.chatTxt {
  float: left;
  padding-bottom: 15px;
}
.chatimg {
  float: right;
  padding-bottom: 15px;
}
.chatTxt h2,
.tableHead h2 {
  margin: 0;
  font-size: 16px;
}
.tableHead h2 {
  padding: 0 14px;
}
.chatTxt h2 {
  padding-left: 8px;
}
.backgroundClr {
  background-color: #e6e6e6;
  padding: 10px 0px 30px 0px;
  border: 1px solid #bbbbbb;
}
.headPadding {
  padding: 0 10px 10px 10px;
  overflow: hidden;
}
.tableHead {
  display: inline-block;
  width: 29%;
  vertical-align: middle;
}
.tableHead img {
  width: 20px;
  padding-left: 5px;
}
.tableHead img,
.tableHead h2,
.searchimg form,
.chatTxt img,
.chatTxt h2 {
  display: inline-block;
  vertical-align: middle;
}
/*------Toggle Start--------*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #898989;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #3d1565;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ccc;
  border: 1px solid #898989;
}

input:focus + .slider {
  box-shadow: 0 0 1px #898989;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*------Toggle End--------*/

table {
  border-collapse: collapse;
}
.tableHead P {
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  background-color: #fff;
  margin: 0;
  padding: 7px 18px;
  vertical-align: middle;
  color: #929292;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: 500;
}
.tableHead form input[type="search"] {
  padding: 4px 6px;
  font-size: 14px;
  border: 1.5px solid #bbbbbb;
  width: 100%;
}
.tableHead form input[type="search"]:focus,
.chatbox input:focus,
.chatbox textarea:focus,
.chatbox select {
  outline: none;
}
.tableHead form button {
  float: right;
  cursor: pointer;
}
.searchimg button .iconImg {
  width: 22px;
  padding-top: 2px;
}
.arrow {
  width: 15px !important;
}
table tr th {
  text-align: left;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  font-size: 14px;
}
table tr th button {
  float: right;
}
table tr th button img {
  padding-top: 3px;
}
table tr td {
  text-align: center;
  background-color: #fff;
  padding: 8px 20px;
  color: #555555;
  font-size: 14px;
}
.searchimg {
  float: right;
  width: 70% !important;
  text-align: right;
}
.center {
  width: 32% !important;
  text-align: right;
}
form {
  position: relative;
}
form img {
  /* position: absolute; */
  right: -2px;
}
.marginBottom {
  margin-bottom: 3%;
}
.chatbox {
  clear: both;
}
.chatbox form {
  padding-right: 0;
}
.chatInfo {
  height: 400px;
  background-color: #fff;
  border: 1.5px solid #bbbbbb;
  padding: 20px 10px;
  margin-bottom: 7px;
  min-height: 400px;
  overflow-y: scroll;
}
.chatimg img {
  width: 20px;
  padding-left: 5px;
}
.chatbox input {
  border: 1.5px solid #bbbbbb;
  padding: 8px 7px;
  padding-right: 32px;
}
.chatbox input[type="text"] {
  width: 90.5%;
}
.chatbox select {
  width: 150px !important;
  border: none;
  margin-top: 10px;
  color: #3d1565;
  background-color: transparent;
  float: right;
  padding: 8px !important;
  cursor: pointer;
}
.connectIcon {
  margin-left: 2px;
  width: 15px;
}
.chatbox input[type="submit"] {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 0px;
  bottom: 0;
  padding: 1px 8px;
  border: none;
  background-color: transparent;
  text-indent: -9999px;
  background-image: url(../../../assets/send_message.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
hr.box {
  border: 3px solid #fff;
}
.mainMsg {
  float: left;
  clear: both;
  margin-right: 1%;
  width: 16%;
}
textarea::-webkit-scrollbar {
  width: 1em;
}
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: #c2bcbc;
  outline: 1px solid #bbbbbb;
}
.mainMsg form textarea {
  width: 90%;
}
.headImg {
  width: 30px !important;
}
.checkBox {
  padding-right: 12px;
}
.checkBox label {
  font-size: 14px;
  color: #000;
}
.checkBox input[type="checkbox"] {
  margin: 0;
}
.searchBar {
  width: 35%;
}
/* .checkBox input[type="checkbox"]:checked.checkmark{
    background-color: #3D1565;
} */
.checkBox input:checked ~ .checkmark {
  background-color: #3d1565;
}
.chatClr {
  background-color: #3d1565;
  color: #fff;
  padding: 12px;
  width: 75%;
  border-radius: 15px 15px 15px 0;
  margin-bottom: 20px;
  clear: both;
}
.chatClr h3,
.chatClr p {
  margin: 0;
}
.chatClr h3,
.chatClr p {
  padding-bottom: 8px;
}
.chatClr h3 {
  font-size: 16px;
}
.chatClr p {
  font-size: 13px;
  color: #fff;
}
.chatLight p {
  word-wrap: break-word;
  font-size: 13px;
  color: #000;
}
.chatClr span,
.chatLight span {
  color: #7c7979;
  font-size: 10px;
  text-align: right;
  display: block;
}
.chatLight {
  background-color: #e0e0e0;
  color: #000;
  float: right;
  border-radius: 15px 15px 0px 15px;
  margin-bottom: 20px;
}
.chatposition, .chatposition input[type="text"]{
  position: relative;
}
/*------Responsive-Start--------*/
@media only screen and (min-width: 10px) and (max-width: 1480px) {
  .chatbox input[type="text"] {
    width: 93%;
    padding: 3%;
  }
}
@media only screen and (min-width: 10px) and (max-width: 1200px) {
  .pageSize {
    width: auto;
    margin: 0 15px;
    overflow: hidden;
  }
  /* .chatbox input[type="text"] {
        width: 93.5%;
    } */
}

@media only screen and (min-width: 10px) and (max-width: 1000px) {
  /* .chatbox input[type="text"] {
        width: 92.5%;
    } */
}

@media only screen and (min-width: 10px) and (max-width: 900px) {
  .formTable {
    float: none;
    width: auto;
    margin-right: 0%;
    margin-bottom: 3%;
  }
  .messageForm {
    float: none;
    width: auto;
    overflow: hidden;
  }
  .chatbox input[type="text"] {
    width: 93.5%;
  }
}
@media only screen and (min-width: 10px) and (max-width: 768px) {
  table tr th {
    padding: 10px 8px;
  }
  .tableHead {
    display: block;
    width: auto;
    margin-bottom: 15px;
  }
  .searchimg {
    float: none;
    width: auto !important;
    text-align: left;
  }
  .checkBox {
    display: block !important;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 10px) and (max-width: 500px) {
  .searchBar {
    width: auto;
  }
  table tr th {
    padding: 10px 2px;
  }
}
