.CardDataTable {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 90rem;
  margin: 3rem auto;
  padding: 2rem;
}

.WZCch, .huizgM, .dVhIgI, .rdt_TableCol{
  font-size: 17px !important;
}
.iconDiv{
  margin: 4px 4px;


}

.deleteIcon, .editIcon, .conferenceIcon{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  margin-right: 2px;
}
/* .deleteIcon{
  cursor: pointer;
  width: 30px;
  margin-right: 2px;
}
.editIcon{
  cursor: pointer;
  width: 30px;
  margin-left: 2px;
} */
.conferenceIcon{
  width: 26px;
  margin-left: 2px;
  margin-top: 5px;
}
.rdt_TableCell{
  background-color: tomato;
}
#cell-8-undefined{
  background-color: tomato;
}