.header {
  float: right;
  /* width: 80%;
  height: 4rem;
  background-color: transparent;
  padding: 0 10%; */
}

/* .header nav {
  height: 100%;
} */

.header ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  /* height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.header li {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
  
}

.header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding:10px 20px;
  display: inline-block;
}

.header a:hover,
.header a:active,
.header a.active {

    background-color: #323362;
    color: white;
    padding: 10px 20px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
  /* color: #666666;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid rgb(131, 131, 131); */
}

@media only screen and  (min-width : 10px) and (max-width: 765px){
  .header{
      float: none !important;
  }
}
@media only screen and  (min-width : 10px) and (max-width: 600px){
  .header li{
    margin: 0 0.2rem;
  }
  .header a{
    font-size: 14px;
      padding:5px 8px !important;
  }

}