.login {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 40rem;
  margin: 6rem auto;
  padding: 2rem;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: left;
}

.passwordIcon {
  position: absolute;
  /* margin-left: 280px; */
  right: 0px;
}

.control{
  /* margin-right: 15px;
  width: 30%; */
  position: relative;
}
.control select{
  padding: 0.5rem !important;
}
.control label,
.labelInput label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  display: block;
}

.control input,
select,
.labelInput input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 24rem;
  max-width: 100%;
}
.control input:focus,
.labelInput label input:focus {
  outline: none;
  border-color: #323362;
  background: #dad5d5;
}

.control.invalid input {
  border-color: rgb(218, 88, 88);
  background: #fbdada;
}
.pointer {
  cursor: pointer;
}

.actions {
  text-align: center;
}
@media only screen and  (min-width : 10px) and (max-width: 810px){
  .login{
      max-width: -webkit-fill-available !important;
      margin: 4% !important;
  }
}

@media only screen and  (min-width : 10px) and (max-width: 1250px){
  .control input{
      width: 12rem !important;
  }
}
@media only screen and  (min-width : 10px) and (max-width: 765px){
  .control input{
      width:8rem !important;    
  }
}
@media only screen and  (min-width : 10px) and (max-width: 600px){
  .control input{
      width: 8rem !important;    
  }
}
@media only screen and  (min-width : 10px) and (max-width: 500px){
  .control input{
      width: 16rem !important;    
  }
  .labelInput input {
    width: 12rem;
  }
}